<div>
<%= form_for @task, :url => tasks_path+"/"+@task.id.to_s do |f| %>
    <% if @task.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @task.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :text %><br />
      <%= f.text_area :text, :cols => "30", :rows => "10"  %>
    </p>
    <p>
      <%= f.label :date_start %><br />
      <%= f.text_field :date_start, class: "datepicker" %>
    </p>
    <p>
      <%= f.label :date_end %><br />
      <%= f.text_field :date_end, class: "datepicker" %>
    </p>

      <% if @old_user %>
        <p style="border-bottom: solid gray 2px; width:250px">
           Access user: <br>
        <p>
        <% @old_user.each do |user,key| %>
          <%= user.fname + " " + user.lname%>
          <br>
        <% end %>
      <% end %>
    </p>
    </p>
    <p class="button"><%= f.submit %></p>
<% end %>
</div>