<p>
<H2>Task: <%= @task.name %> <br></H2>
</p>
<p>
  Access users: <br>
</p>
<div id="view_content_ajax">
  <%= render 'show_users_task' %>
</div>
<%= form_for @task, :url => task_user_create_path(@task.id) do |f| %>
    <p>
        <%= label_tag(:id, "Add id user") %>
        <%= text_field_tag(:id) %>
        <%= submit_tag("Add") %>
    </p>
<% end %>